* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-size: 13px;
  background-color: #222;
  color: #000066;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.container {
  margin: auto;
  width: 958px;
  background-color: #ffe3a4;
  padding: 0px 5px 5px 5px;
}

.title {
  width: 100%;
  height: 130px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  padding: 5px 10px 10px 10px;
}

nav {
  background-color: brown;
  background-image: url(../images/balk.png);
  height: 12px;
  margin-bottom: 35px;
}

nav table {
  float: right;
  margin-top: -5px;
}

nav td {
  margin: 2px 5px 0px 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  height: 12px;
  width: 125px;
  border-radius: 3px;
  padding: 1px;
  background-image: url(../images/blauwenav.png);
}

.nav-title {
  margin-left: 5px;
}

aside {
  float: left;
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

.list a {
  text-decoration: none;
  font-style: italic;
}

article {
  float: left;
  width: 745px;
}

a {
  color: #000075;
}

input {
  width: 175px;
  height: 20px;
  transform: translate(-10px, 20px);
  border: 1px solid #000000;
}

#img-sprookjesbos {
  width: 743px;
  margin-bottom: 5px;
}

.intro {
  margin-bottom: 10px;
}

#img-huis {
  float: left;
  width: 275px;
  margin-right: 5px;
}

.middle,
.end,
.history,
#img-kasteel {
  margin-bottom: 15px;
}

#img-paddenstoel {
  width: 500px;
  margin-left: 120px;
  margin-bottom: 15px;
}

.td-title {
  font-weight: bold;
  background-color: #fdedc7;
}

#img-kasteel {
  width: 525px;
  margin-left: 130px;
}

footer {
  clear: both;
  font-size: 11px;
}

footer p.copyright-title {
  font-weight: bold;
}
